***Q.1 Discuss string slicing and provide examples ?***

**String Slicing in Python**

String slicing in Python is a way to extract a portion (substring) of a string using the slicing operator [:]. The slicing operation allows you to specify the start, stop, and step parameters to control how the string is divided.

**The general syntax is:**

**python**

substring = string[start:stop:step]

**Parameters:**

start: The starting index (inclusive). Default is 0.

stop: The ending index (exclusive). If omitted, slicing continues to the end of the string.

step: The step value, which determines the stride (default is 1).

**Examples**

**1. Basic Slicing**

In [4]:
string = "PythonProgramming"
print(string[0:6])

Python

**2. Omitting Start or Stop**

In [6]:
string = "HelloWorld"
print(string[:5])
print(string[5:])

Hello
World

**3. Using Step**

In [7]:
string = "abcdefg"
print(string[::2])
print(string[1::2])

aceg
bdf

**4. Negative Indices**

In [8]:
string = "Python"
print(string[-1])
print(string[-4:-1])
print(string[::-1])

n
tho
nohtyP

**5. Advanced Examples**

Extracting a substring from the middle:

In [9]:
string = "DataAnalysis"
print(string[4:10])

Analys

Skipping characters:

In [10]:
string = "abcdefghijkl"
print(string[2:10:3])

cfi

Negative values for start, stop, and step allow slicing from the end of the string.

If start is greater than stop with a positive step, the result is an empty string.

***Q.2 Explain the key features of lists in Python ?***

**Key Features of Python Lists**

1. Dynamic Nature

Lists are dynamic in size, meaning you can add, remove, or modify elements at any time.

Example:

In [11]:
lst = [1, 2, 3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

2. Ordered and Indexed

Lists maintain the order of elements as inserted.

They are indexed, starting at 0 for the first element, and can also be accessed using negative indices.

Example:

In [13]:
lst = ['a', 'b', 'c']
print(lst[0])
print(lst[-1])

a
c

3. Heterogeneous Elements

Lists can store elements of different data types in a single list.

Example:

In [14]:
lst = [1, 'hello', 3.14, [2, 3]]
print(lst)

[1, 'hello', 3.14, [2, 3]]

4. Mutable

Lists are mutable, meaning their elements can be changed or updated.

Example:

In [16]:
lst = [1, 2, 3]
lst[1] = 20
print(lst)

[1, 20, 3]

5. Supports Duplicates

Lists allow duplicate values, unlike sets.

Example:

In [17]:
lst = [1, 2, 2, 3, 3]
print(lst)

[1, 2, 2, 3, 3]

6. Extensive Built-in Methods

Python provides a wide range of methods for list manipulation, such as append(), extend(), insert(), remove(), pop(), and more.

Example:

In [18]:
lst = [1, 2, 3]
lst.insert(1, 'a')
print(lst)

[1, 'a', 2, 3]

**Example of Comprehensive Usage**

In [19]:
# Initializing a list
lst = [10, 20, 30, 40, 50]

# Adding elements
lst.append(60)
lst.extend([70, 80])

# Removing elements
lst.remove(20)
popped = lst.pop()  # Removes and returns the last element

# Modifying elements
lst[1] = 25

# Slicing
sub_lst = lst[1:4]

# Iterating
for element in lst:
    print(element)

# Final list
print("Updated List:", lst)

10
25
40
50
60
70
Updated List: [10, 25, 40, 50, 60, 70]

***Q.3  Describe how to access, modify, and delete elements in a list with examples ?***

**1. Accessing Elements**

You can access elements in a list using indexing or slicing.

Using Indexing

Python lists are indexed starting at 0.

Negative indexing starts from the end (-1 is the last element).

Examples:

In [20]:
lst = [10, 20, 30, 40, 50]
print(lst[0])
print(lst[-1])

10
50

Using Slicing

Slicing retrieves a subset of the list based on start, stop, and step values.

Examples:

In [21]:
lst = [10, 20, 30, 40, 50]
print(lst[1:4])
print(lst[:3])
print(lst[::2])

[20, 30, 40]
[10, 20, 30]
[10, 30, 50]

**2. Modifying Elements**

We can change an element's value by assigning a new value to its index or modify multiple elements using slicing.

Modifying a Single Element

Example:

In [23]:
lst = [10, 20, 30, 40, 50]
lst[1] = 25
print(lst)

[10, 25, 30, 40, 50]

Modifying Multiple Elements

Example:

In [24]:
lst = [10, 20, 30, 40, 50]
lst[1:3] = [21, 31]
print(lst)

[10, 21, 31, 40, 50]

Appending or Extending the List

append(): Adds a single element at the end.

extend(): Adds multiple elements.

Example:

In [25]:
lst = [10, 20, 30]
lst.append(40)
print(lst)

lst.extend([50, 60])
print(lst)

[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60]

Inserting Elements

Use insert(index, element) to add an element at a specific position.

In [26]:
lst = [10, 20, 30]
lst.insert(1, 15)
print(lst)

[10, 15, 20, 30]

**3. Deleting Elements**

Python provides several ways to remove elements from a list.

Using del Statement

Deletes an element at a specific index or a slice of elements.

Example:

In [27]:
lst = [10, 20, 30, 40, 50]
del lst[1]
print(lst)

del lst[1:3]
print(lst)

[10, 30, 40, 50]
[10, 50]

Using remove() Method

Removes the first occurrence of a specified value.

Example:

In [28]:
lst = [10, 20, 30, 20, 40]
lst.remove(20)
print(lst)

[10, 30, 20, 40]

Using pop() Method

Removes and returns the element at a specified index. By default, it removes the last element.

Example:

In [ ]:
lst = [10, 20, 30, 40, 50]
last_element = lst.pop()
print(last_element)
print(lst)

second_element = lst.pop(1)
print(second_element)
print(lst)

Clearing the Entire List

Use clear() to remove all elements from the list.

In [29]:
lst = [10, 20, 30]
lst.clear()
print(lst)

[]

Removing Elements Using Slicing

Example:

In [30]:
lst = [10, 20, 30, 40, 50]
lst[1:4] = []
print(lst)

[10, 50]

***Q.3  Compare and contrast tuples and lists with examples ?***

**Tuples and lists are both sequence data structures in Python, but they have key differences in their functionality, behavior, and usage.**

**1. Mutability**

Lists: Mutable, meaning elements can be modified, added, or removed.

Tuples: Immutable, meaning elements cannot be changed after creation.

Example:

In [31]:
# List
lst = [1, 2, 3]
lst[1] = 20
print(lst)

# Tuple
tup = (1, 2, 3)

[1, 20, 3]

**2. Syntax**

Lists: Defined using square brackets [].

Tuples: Defined using parentheses ().

Example:

In [32]:
lst = [1, 2, 3]   # List
tup = (1, 2, 3)   # Tuple

**3. Performance**

Lists: Slightly slower than tuples due to their mutability and extra overhead.

Tuples: Faster because they are immutable and thus optimized for performance.

Example:

In [33]:
import timeit
print(timeit.timeit(stmt="[1, 2, 3, 4, 5]", number=1000000))  # List
print(timeit.timeit(stmt="(1, 2, 3, 4, 5)", number=1000000))  # Tuple

0.0697905259999061
0.015044674999899144

**4. Usage**

Lists: Used when the data can change or when a dynamic collection is needed.

Tuples: Used when the data should remain constant, like fixed collections or dictionary keys.

Example:

In [34]:

shopping_list = ["eggs", "milk", "bread"]
shopping_list.append("butter")
print(shopping_list)


coordinates = (10.0, 20.0)

['eggs', 'milk', 'bread', 'butter']

**5. Size**

Lists: Take more memory due to extra pointers and mutability.

Tuples: More memory-efficient as they are immutable.

Example:

In [35]:
import sys
lst = [1, 2, 3, 4, 5]
tup = (1, 2, 3, 4, 5)
print(sys.getsizeof(lst))  # Larger size
print(sys.getsizeof(tup))  # Smaller size

104
80

***Q.5 Describe the key features of sets and provide examples of their use ?***

**Key Features of Sets in Python**

A set is a built-in data type in Python that represents an unordered, mutable, and collection of unique elements.

It is optimized for fast membership testing and mathematical operations like union, intersection, and difference.

**1. Unordered**

Sets do not maintain any specific order of elements.

Elements are accessed indirectly (not by index or slice).

Example:

In [36]:
s = {3, 1, 4, 2}
print(s)

{1, 2, 3, 4}

**2. Unique Elements**

Sets automatically remove duplicate values when created.

Example:

In [37]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

**3. Mutable**

Sets are mutable, meaning you can add or remove elements.

However, elements within a set must be immutable (e.g., numbers, strings, tuples).

Example:

In [38]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

**4. No Indexing or Slicing**

Since sets are unordered, they do not support indexing or slicing.

Iteration is possible.

Example:

In [39]:
s = {1, 2, 3}
for item in s:
    print(item)

1
2
3

**5. Supports Mathematical Set Operations**

Sets provide efficient methods for operations like union, intersection, difference, and symmetric difference.

Examples:

In [40]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)  # Union: {1, 2, 3, 4, 5}
print(A & B)  # Intersection: {3}
print(A - B)  # Difference: {1, 2}
print(A ^ B)  # Symmetric Difference: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

**6. High Performance**

Sets are implemented using hash tables, making membership tests (in) very fast.

Example:

In [41]:
s = {1, 2, 3}
print(2 in s)

True

***Q.6  Discuss the use cases of tuples and sets in Python programming ?***

**Use Cases of Tuples and Sets in Python Programming**

Tuples and sets each have specific characteristics that make them suitable for different tasks in Python programming. Below are some key use cases for each:

**Use Cases of Tuples**

Tuples are immutable sequences, making them ideal for scenarios where data integrity is important, and the contents should remain constant.

**1. Fixed Collections of Data**

When you need a fixed collection of related elements that shouldn't change, use a tuple.

Example:

In [42]:
coordinates = (10.5, 20.3)
print(coordinates)

(10.5, 20.3)

**2. Return Multiple Values from Functions**

Tuples are often used to return multiple values from a function.

Example:

In [43]:
def get_student():
    return ("Alice", 20, "Mathematics")

student = get_student()
print(student)

('Alice', 20, 'Mathematics')

**3. Dictionary Keys**

Tuples can be used as keys in dictionaries because they are immutable.

Example:

In [44]:
locations = {
    (10.5, 20.3): "Park",
    (40.7, 74.0): "City Center"
}
print(locations[(10.5, 20.3)])

Park

**4. Immutable Grouping**

Group elements that should remain unchanged, such as configuration options or constants.

Example:

In [45]:
settings = ("dark_mode", True, 30)
print(settings)

('dark_mode', True, 30)

**5. Iteration Over Immutable Data**

Used in situations where iterated data must not be altered, ensuring safety in operations.

Example:

In [46]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
for day in weekdays:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

**Use Cases of Sets**

Sets are unordered collections of unique elements, optimized for operations involving uniqueness, membership testing, and mathematical set operations.

**1. Removing Duplicates from a Collection**

Sets automatically eliminate duplicate values.

Example:

In [48]:
data = [1, 2, 2, 3, 4, 4, 5]
unique_data = set(data)
print(unique_data)

{1, 2, 3, 4, 5}

**2. Fast Membership Testing**

Sets are highly efficient for checking the presence of an element.

Example:

In [49]:
items = {1001, 1002, 1003}
print(1002 in items)

True

**3. Mathematical Set Operations**

Sets are ideal for performing union, intersection, difference, and symmetric difference.

Example:

In [50]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

**4. Eliminating Redundant Data**

Useful in scenarios like deduplicating user IDs or product lists.

Example:

In [51]:
user_ids = [101, 102, 101, 103]
unique_users = set(user_ids)
print(unique_users)

{101, 102, 103}

**5. Comparing Data Sets**

Sets allow you to compare groups of data efficiently.

Example:

In [52]:
students_A = {"Alice", "Bob", "Charlie"}
students_B = {"Bob", "David", "Eve"}

common_students = students_A & students_B
print(common_students)

{'Bob'}

***Q.7  Describe how to add, modify, and delete items in a dictionary with examples ?***

**Adding, Modifying, and Deleting Items in a Dictionary in Python**

A dictionary in Python is a mutable data structure that stores key-value pairs.

It allows you to efficiently manage data through various operations such as adding, modifying, and deleting items.

**1. Adding Items to a Dictionary**

You can add items to a dictionary by assigning a value to a new key.

Syntax:

dictionary[key] = value

In [54]:
# Creating an empty dictionary
student = {}

# Adding items
student["name"] = "Alice"
student["age"] = 20
student["major"] = "Computer Science"

print(student)

{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}

Adding Multiple Items Using update():

You can use the update() method to add multiple key-value pairs at once.

Example:

In [55]:
student = {"name": "Alice", "age": 20}
student.update({"major": "Computer Science", "year": 2})

print(student)

{'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'year': 2}

**2. Modifying Items in a Dictionary**

You can modify the value associated with a specific key by assigning a new value to it.

Syntax:

dictionary[key] = new_value

In [56]:
student = {"name": "Alice", "age": 20, "major": "Physics"}

# Modifying an existing key
student["major"] = "Computer Science"
student["age"] = 21

print(student)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

Modifying Multiple Items Using update():

You can update multiple key-value pairs simultaneously.

Example:

In [57]:
student = {"name": "Alice", "age": 20}
student.update({"age": 21, "major": "Computer Science"})

print(student)

{'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

**3. Deleting Items from a Dictionary**

You can delete items using the del statement, the pop() method, or the popitem() method.

a. Using del

Deletes a key-value pair based on the key.

Syntax:

del dictionary[key]

In [58]:
student = {"name": "Alice", "age": 20, "major": "Physics"}

# Deleting the 'major' key
del student["major"]

print(student)

{'name': 'Alice', 'age': 20}

b. Using pop()

Removes the specified key and returns its value.

Syntax:

value = dictionary.pop(key, default_value)

In [60]:
student = {"name": "Alice", "age": 20, "major": "Physics"}

# Removing the 'major' key
major = student.pop("major")

print(major)
print(student)

Physics
{'name': 'Alice', 'age': 20}

c. Using popitem()

Removes and returns the last inserted key-value pair as a tuple.

Syntax:

key, value = dictionary.popitem()

In [61]:
student = {"name": "Alice", "age": 20, "major": "Physics"}

# Removing the last item
last_item = student.popitem()

print(last_item)
print(student)

('major', 'Physics')
{'name': 'Alice', 'age': 20}

d. Using clear()

Removes all items from the dictionary.

Syntax:

dictionary.clear()

In [62]:
student = {"name": "Alice", "age": 20, "major": "Physics"}

# Clearing all items
student.clear()

print(student)

{}

***Q.8  Discuss the importance of dictionary keys being immutable and provide example ?***

**Importance of Dictionary Keys Being Immutable in Python**

In Python, dictionary keys must be immutable and hashable because dictionaries use a hash table internally to store key-value pairs. This structure relies on the ability to compute a consistent hash value for each key, which determines where the key-value pair is stored.

**Key Points:**

**1. Consistency in Hashing:**

A hash value is computed when a key is added to the dictionary.
If the key changes after being added (mutable), the hash value would change, making it impossible to locate the key's value in the hash table.

**2. Data Integrity:**

Ensuring that keys are immutable avoids accidental modifications, preserving the stability and reliability of dictionary lookups.

**3. Efficiency:**

Immutable keys allow for faster lookups and retrieval operations, as the hash value remains constant.

**What Types Can Be Keys?**

Allowed: Immutable types like int, float, str, tuple (if all elements in the tuple are immutable), frozenset.

Not Allowed: Mutable types like list, dict, or set.

Examples

Valid Immutable Keys

In [63]:
# Integer key
my_dict = {1: "One", 2: "Two"}

# String key
my_dict = {"name": "Alice", "age": 25}

# Tuple key (with immutable elements)
my_dict = {(1, 2): "Point A", (3, 4): "Point B"}

Invalid Mutable Keys

# List as a key (raises TypeError)
my_dict = {[1, 2, 3]: "Value"}  
# Output: TypeError: unhashable type: 'list'

# Set as a key (raises TypeError)
my_dict = {{1, 2, 3}: "Value"}  
# Output: TypeError: unhashable type: 'set'

**Practical Example**

Why Mutable Keys Are Problematic

# Using a list as a key (Hypothetical)
key = [1, 2, 3]
my_dict = {key: "Value"}

# Modify the list
key.append(4)

# The hash value changes, breaking dictionary integrity
print(my_dict[key])  # This would fail in practice

This is why Python enforces the rule that keys must be immutable.

**Real-World Scenario**

Using immutable keys like tuples can be highly beneficial when representing composite data.

Example: Coordinate System

In [66]:
# Tuple as a key
coordinates = {
    (10, 20): "Location A",
    (30, 40): "Location B"
}

print(coordinates[(10, 20)])

Location A