1. Write a code to reverse a string

In [1]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))  # Output: "olleh"

olleh

2. Write a code to count the number of vowels in a string

In [2]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("Hello World"))  # Output: 3

3

3. Write a code to check if a given string is a palindrome or not

In [3]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))  # Output: True

True

4. Write a code to check if two given strings are anagrams of each other

In [4]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))  # Output: True

True

5. Write a code to find all occurrences of a given substring within another string

In [5]:
def find_occurrences(text, sub):
    return [i for i in range(len(text)) if text.startswith(sub, i)]

print(find_occurrences("banana", "ana"))  # Output: [1, 3]

[1, 3]

6. Write a code to perform basic string compression using the counts of repeated characters

In [6]:
def compress_string(s):
    result = ""
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            result += s[i-1] + str(count)
            count = 1
    result += s[-1] + str(count)
    return result

print(compress_string("aaabbccc"))  # Output: a3b2c3

a3b2c3

7. Write a code to determine if a string has all unique characters

In [7]:
def has_unique_chars(s):
    return len(set(s)) == len(s)

print(has_unique_chars("abcde"))  # Output: True

True

8. Write a code to convert a given string to uppercase or lowercase

In [8]:
s = "Hello"
print(s.upper())  # Output: HELLO
print(s.lower())  # Output: hello

HELLO
hello

9. Write a code to count the number of words in a string

In [9]:
def count_words(s):
    return len(s.split())

print(count_words("Hello world from Python"))  # Output: 4

4

10. Write a code to concatenate two strings without using the + operator

In [10]:
def concatenate(s1, s2):
    return "{}{}".format(s1, s2)

print(concatenate("Hello", "World"))  # Output: HelloWorld

HelloWorld

11. Write a code to remove all occurrences of a specific element from a list

In [11]:
def remove_occurrences(lst, elem):
    return [x for x in lst if x != elem]

print(remove_occurrences([1, 2, 3, 2, 4], 2))  # Output: [1, 3, 4]

[1, 3, 4]

12. Implement a code to find the second largest number in a given list of integers

In [12]:
def second_largest(lst):
    unique = list(set(lst))
    unique.sort()
    return unique[-2]

print(second_largest([1, 3, 4, 4, 2]))  # Output: 3

3

13. Create a code to count the occurrences of each element in a list and return a dictionary

In [13]:
from collections import Counter

def count_elements(lst):
    return dict(Counter(lst))

print(count_elements(['a', 'b', 'a']))  # Output: {'a': 2, 'b': 1}

{'a': 2, 'b': 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [14]:
def reverse_list(lst):
    for i in range(len(lst)//2):
        lst[i], lst[-1-i] = lst[-1-i], lst[i]
    return lst

print(reverse_list([1, 2, 3]))  # Output: [3, 2, 1]

[3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving order

In [15]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

print(remove_duplicates([1, 2, 2, 3, 1]))  # Output: [1, 2, 3]

[1, 2, 3]

16. Create a code to check if a given list is sorted (ascending/descending)

In [16]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

print(is_sorted([1, 2, 3]))  # Output: True

True

17. Write a code to merge two sorted lists into a single sorted list

In [17]:
def merge_sorted(a, b):
    return sorted(a + b)

print(merge_sorted([1, 3], [2, 4]))  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

18. Implement a code to find the intersection of two given lists

In [18]:
def list_intersection(a, b):
    return list(set(a) & set(b))

print(list_intersection([1, 2, 3], [2, 3, 4]))  # Output: [2, 3]

[2, 3]

19. Create a code to find the union of two lists without duplicates

In [19]:
def list_union(a, b):
    return list(set(a) | set(b))

print(list_union([1, 2], [2, 3]))  # Output: [1, 2, 3]

[1, 2, 3]

20. Write a code to shuffle a given list randomly without using built-in shuffle

In [20]:
import random

def shuffle_list(lst):
    for i in range(len(lst)-1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

print(shuffle_list([1, 2, 3, 4]))

[3, 2, 4, 1]

21. Write a code that takes two tuples as input and returns a new tuple containing elements common to both

In [21]:
def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))

print(common_elements((1, 2, 3), (2, 3, 4)))  # Output: (2, 3)

(2, 3)

22. Prompt the user to enter two sets of integers separated by commas. Print their intersection

In [24]:
s1 = set(map(int, input("Enter first set: ").split(',')))
s2 = set(map(int, input("Enter second set: ").split(',')))
print(s1 & s2)

Enter first set: 1,2,3,4,5
Enter second set: 4,5,6,7,8
{4, 5}

23. Write a code to concatenate two tuples

In [25]:
def concatenate_tuples(t1, t2):
    return t1 + t2

print(concatenate_tuples((1, 2), (3, 4)))  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

24. Prompt the user to input two sets of strings, then print elements in the first not in second

In [26]:
s1 = set(input("First set: ").split())
s2 = set(input("Second set: ").split())
print(s1 - s2)

First set: 1,2,3,4,5
Second set: 4,5,6,7,8
{'1,2,3,4,5'}

25. Take a tuple and two indices, return a sub-tuple within that range

In [27]:
def sub_tuple(t, start, end):
    return t[start:end]

print(sub_tuple((1, 2, 3, 4, 5), 1, 4))  # Output: (2, 3, 4)

(2, 3, 4)

26. Prompt the user to input two sets of characters, then print their union

In [28]:
s1 = set(input("Enter characters for Set 1: "))
s2 = set(input("Enter characters for Set 2: "))
print(s1 | s2)

Enter characters for Set 1: 1,2,3,4,5
Enter characters for Set 2: 4,5,6,7,8
{'8', '4', ',', '7', '1', '5', '2', '6', '3'}

27. Take a tuple of integers and return max and min using unpacking

In [29]:
def min_max(t):
    return min(t), max(t)

print(min_max((4, 2, 9)))  # Output: (2, 9)

(2, 9)

28. Define two sets of integers and print union, intersection, and difference

In [30]:
a = {1, 2, 3}
b = {2, 3, 4}
print("Union:", a | b)
print("Intersection:", a & b)
print("Difference:", a - b)

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference: {1}

29. Count occurrences of an element in a tuple

In [31]:
def count_element(t, elem):
    return t.count(elem)

print(count_element((1, 2, 2, 3), 2))  # Output: 2

2

30. Prompt user to input two sets of strings, then print symmetric difference

In [32]:
s1 = set(input("Enter first set: ").split())
s2 = set(input("Enter second set: ").split())
print(s1 ^ s2)

Enter first set: 1,2,3,4,5
Enter second set: 4,5,6,7,8
{'1,2,3,4,5', '4,5,6,7,8'}

31. Return a dictionary with word frequencies from a list of words

In [33]:
def word_freq(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

print(word_freq(["apple", "banana", "apple"]))  # Output: {'apple': 2, 'banana': 1}

{'apple': 2, 'banana': 1}

32. Merge two dictionaries; add values for common keys

In [34]:
def merge_dicts(d1, d2):
    result = d1.copy()
    for k, v in d2.items():
        result[k] = result.get(k, 0) + v
    return result

print(merge_dicts({'a': 2}, {'a': 3, 'b': 1}))  # Output: {'a': 5, 'b': 1}

{'a': 5, 'b': 1}

33. Access a value in nested dictionary using a list of keys

In [35]:
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

data = {'a': {'b': {'c': 5}}}
print(get_nested_value(data, ['a', 'b', 'c']))  # Output: 5

5

34. Return a dictionary sorted by values

In [36]:
def sort_dict_by_values(d, reverse=False):
    return dict(sorted(d.items(), key=lambda x: x[1], reverse=reverse))

print(sort_dict_by_values({'a': 2, 'b': 1}))  # Output: {'b': 1, 'a': 2}

{'b': 1, 'a': 2}

35. Invert a dictionary, store multiple keys with same value as list

In [37]:
def invert_dict(d):
    inverted = {}
    for k, v in d.items():
        inverted.setdefault(v, []).append(k)
    return inverted

print(invert_dict({'a': 1, 'b': 2, 'c': 1}))  # Output: {1: ['a', 'c'], 2: ['b']}

{1: ['a', 'c'], 2: ['b']}